name: GitHub Metrics
on:
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@v3.34
        with:
          token: ${{ github.token }}
          user: SilvityCode

          base: header, activity, repositories

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_colors: github

